<a href="{{path('index')}}"><div class="footer__title"></div></a>
<div class="footer__links">
    <div class="footer__list">
        <h5 class="footer__ul-title">Социальные Сети</h5>
        <ul class="footer__medias">
            <li><a href="#" class="footer__link">Мы в ВКонтакте</a></li>
            <li><a href="#" class="footer__link">Мы в Телеграмме</a></li>
        </ul>
    </div>
    <div class="footer__list">    
        <h5 class="footer__ul-title">-Контакты-</h5>
        <ul class="footer__contacts">
            <li class="footer__link">RU +8 800 555 35 35</li>
        </ul>
    </div>
</div>