<nav class="header__navigation">
	<a href="{{ path('index')}}" class="header__link">Return To Hub</a>
	<a href="{{ path('register_user_form')}}" class="header__link">Create New User</a>
	<a href="{{ path('users_list')}}" class="header__link">View All Users</a>
</nav>
