<div class="slider-item featured-order">
    <img class="order__image" src="/uploads/order_images/base_missing_image.png">
	<div class="featured-order__text">
		<span class="featured-order__name">В данный момент акций нет :(</span>
		<span class="featured-order__price"></span>
	</div>
</div>