<div class="add-order">
    <a href="{{path('create_order_form', {currCategory: category})}}">
        <img class="add-order__image" src="/uploads/order_images/base_new_order.png">
        <div class="add-order__text"></div>
        <span class="add-order__make">Создать</span>
    </a>
</div>